#sections {
    display: inline-block;
}

#sections > div {
    float:left;
}

#tool-box {
    width: 150px;
}

#gridElementTemplate {
    display: none !important;
}

.action-block > span {
    width: 40px;
    display: inline-block;
    margin-bottom: 5px;
}

.cursor-resize-h {
    cursor: n-resize;
}

.cursor-resize-w {
    cursor: e-resize;
}

.cursor-resize-wh {
    cursor: nw-resize;
}

#drop-area {
    position: absolute;
    display: flex;
    width: 95vw;
    height: 95vh;
    margin:0;
}

#drop-area > .content {
    border-style: dashed;
    border-width: thick;
    border-radius: 30px;
    border-color: #888888;

    width: 50%;
    height: 50%;
    margin:auto;
    display: grid;
}

#drop-area > .content > img {
    height: 300px;
    margin: auto;
}

#drop-area > .content > h1 {
    height: 300px;
    margin: auto;
    width:100%;
    text-align: center;
}

.hidden {
    display:none !important;
}
